<div :class="{'mx-sidebar-open':sideBarOpen}">
    <div class="mx-sidebar" >
        <div class="avatar">
            <img src="../imgs/avatar.png" alt="">
        </div>

        <nav>
            <div class="item" @click="redirect('/')">Me | 我</div>
            <div class="item" @click="redirect('/skill')">Skill | 技能</div>
            <div class="item" @click="redirect('/hobby')" >Hobby | 兴趣爱好</div>
            <div class="item" @click="redirect('/character')">Character | 特点</div>
            <div class="item" @click="redirect('/plan')">Plan | 计划</div>
            <div class="item" @click="redirect('/contact')">Contact | 联系我</div>
        </nav>
    </div>
    <div class="menu" @click="menuToggle">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="modal" v-el:modal>

    </div>

    <div class="main" v-el:main></div>
</div>
