<appview>
    <appview-head align='center' >
        <flex class="pc-head container" justify="center" align-items="center">

            <flex-item  flex='1'>
                 SKILL
            </flex-item>
        </flex>
    </appview-head>
    <appview-body class="sq-body">
        我的电话 ：<a href="tel:15558765285">15558765285</a>
        <img src="../imgs/vcode.png" alt="">
        <img src="../imgs/vcode.png" alt=""><img src="../imgs/vcode.png" alt="">
        <img src="../imgs/vcode.png" alt="">
        <img src="../imgs/vcode.png" alt="">
        <img src="../imgs/vcode.png" alt="">
    </appview-body>
</appview>
