<appview class="contact">
    <appview-body >
        <div class="wrapper">
            <img src="../imgs/contact.jpg" class="wd100" alt="">
        </div>

        <div class="info margin-menu">
            <div class="control mx-1px-bottom">
                <div class="title">手机号码</div>
                <div class="desc"><a href="tel:18268208660">18268208660</a></div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">微信二维码 </div>
                <div class="desc"><img src="../imgs/vcode.png" style="width:50%" alt=""></div>
                <div class="title"><small>（长按识别二维码）</small></div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">地点</div>
                <div class="desc">浙江 杭州</div>
            </div>
        </div>


    </appview-body>
</appview>
