<appview class="me">
    <appview-body >
        <div class="wrapper">
            <img src="../imgs/bg.jpg" alt="">
            <div class="wrapper-inner">
                <middle align="center" height="100%">
                    <img class="name" src="../imgs/name.png" alt="">
                    <div class="desc">F2E | 前端工程师</div>
                    <div class="job" >Looking for a good start of my F2E career</div>
                </middle>
            </div>

            <img class="avatar" src="../imgs/avatar.jpg" alt="">
        </div>

        <div class="info">
            <div class="control mx-1px-bottom">
                <div class="title">姓名</div>
                <div class="desc">徐世奇</div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">年龄</div>
                <div class="desc">24</div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">籍贯</div>
                <div class="desc">温州</div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">毕业学校</div>
                <div class="desc">湖州师范学院</div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">本科专业</div>
                <div class="desc">光电子技术科学</div>
            </div>
            <div class="control mx-1px-bottom">
                <div class="title">手机号码</div>
                <div class="desc"><a href="tel:18268208660">18268208660</a></div>
            </div>
        </div>
    </appview-body>
</appview>
