<appview>

    <appview-body class="">
        <div class="wrapper">
            <img src="../imgs/plan-t.jpg" alt="" class="wd100">
        </div>
        <div class="content margin-menu">
            <article>
                <p>
                    我希望自己能尽快熟悉前端这个岗位，在第一年，培养良好的代码规范和习惯，
                    并且，更加深入地理解原生JS，了解JS的面向对象编程。
                </p>
                <p>
                    我希望我的第一份工作不是一个人的战斗，希望能有前端伙伴一起工作，虽然我可以保证我的自学能力，但是思想需要碰撞才能产生火花。
                    我会努力学习，我会尽快成长，但是希望能成长得更快。
                </p>
                <p>
                    我不希望到政府或者事业单位类型的公司工作，希望公司能让我接触更多新的技术，后端Node方向目前暂时还在学，希望也可以有机会接触。
                    我相信未来JS的路很宽，web前端的未来很光明，希望公司能给我一条通往光明的大道！
                </p>
            </article>
        </div>
    </appview-body>
</appview>
