<appview class="skill">
    <appview-body>
        <div class="wrapper">
            <img src="../imgs/bg2.png" alt="">
            <div class="wrapper-inner">
                <h1>
                    Skills
                </h1>
                <h2>我的能力</h2>
            </div>
        </div>
        <div class="content">
            <h1 class="mx-text-center">HTML5</h1>
            <div class="progress-bar">
				<div class="bar has-rotation has-colors red heat-gradient" role="progressbar" :aria-valuenow="skill" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                掌握基本的HTML书写规则，了解HTML5提供的一些新的API，能较快地参照设计稿，编写出页面。
            </div>
            <h1 class="mx-text-center">CSS3</h1>
            <div class="progress-bar">
				<div class="bar has-rotation has-colors cyan " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <h1 class="mx-text-center">jQuery</h1>
            <div class="progress-bar">
				<div class="bar has-rotation has-colors yellow " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <h1 class="mx-text-center">jQuery</h1>
            <div class="progress-bar">
				<div class="bar has-rotation has-colors lime " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <h1 class="mx-text-center">jQuery</h1>
            <div class="progress-bar">
				<div class="bar has-rotation has-colors dark " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <h1 class="mx-text-center">jQuery</h1>
            <div class="progress-bar">
				<div class="bar has-rotation has-colors orange " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
        </div>
    </appview-body>
</appview>
