<appview class="skill scroll-listener" v-el:container @scroll="scrollHandle">
    <appview-body>
        <div class="wrapper">
            <img src="../imgs/bg2.jpg" alt="">
        </div>
        <div class="content">
            <h1 class="mx-text-center">HTML5</h1>
            <div class="progress-bar ">
				<div class="bar has-rotation has-colors red heat-gradient scroll-point" aria-valuefinal="60" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                掌握基本的HTML书写规则，了解HTML5提供的一些新的API，能较快地参照设计稿，编写出语义良好，复用性强的页面。
            </div>
            <h1 class="mx-text-center ">CSS3</h1>
            <div class="progress-bar ">
				<div class="bar has-rotation has-colors cyan scroll-point" role="progressbar" aria-valuefinal="60" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                有较强的CSS3能力，较高还原度地还原设计稿的布局样式，并且能在Bootstrap下编写响应式布局页面。有一定审美能力，能写出各种CSS3的动画效果。
            </div>
            <h1 class="mx-text-center ">jQuery</h1>
            <div class="progress-bar ">
				<div class="bar has-rotation has-colors yellow scroll-point" role="progressbar" aria-valuefinal="60" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                能使用jQuery对Dom节点进行操作，对jQuery提供的Api比较熟悉，能使用ajax请求数据并对数据进行简单的处理。
            </div>


            <h1 class="mx-text-center ">Vue</h1>
            <div class="progress-bar ">
				<div class="bar has-rotation has-colors lime scroll-point" role="progressbar" aria-valuefinal="30" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                对Vue有一定的了解，虽然理解的还不够透彻，但是已经对MVVM模式的页面有一定的知识积累。
            </div>

            <h1 class="mx-text-center ">Bootstrap</h1>
            <div class="progress-bar ">
				<div class="bar has-rotation has-colors dark scroll-point" role="progressbar" aria-valuefinal="60" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                能使用Bootstrap编写各种形式的页面，了解Bootstrap的各种JS插件，和他提供的各种组件的用法，能使用BootStrap搭建响应式布局的页面
            </div>


            <h1 class="mx-text-center ">原生JS</h1>
            <div class="progress-bar ">
				<div class="bar has-rotation has-colors orange scroll-point" role="progressbar" aria-valuefinal="60" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="tooltip heat-gradient-tooltip"></div>
					<div class="bar-face face-position roof percentage"></div>
					<div class="bar-face face-position back percentage"></div>
					<div class="bar-face face-position floor percentage volume-lights"></div>
					<div class="bar-face face-position left"></div>
					<div class="bar-face face-position right"></div>
					<div class="bar-face face-position front percentage volume-lights shine"></div>
				</div>
			</div>
            <div class="skill-context">
                能够使用原生JS完成各种Dom操作
            </div>
        </div>
    </appview-body>
</appview>
