.sq-head{
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 44px;
    text-align: center;
    color: #fff;
    background-color: rgba(#000,0.2);
    -webkit-backdrop-filter:blur(20px);
}
.sq-body{
    padding-top: 60px
}
