
.me{
    .wrapper{
        position: relative;
        > img{
            width: 100%
        }
        .avatar {
            width: 30%;
            border-radius: 50%;
            border: 5px solid #fff;
            position: absolute;
            bottom: -6%;
            margin-left: -15%;
            left: 50%;
        }
        .job{
            font-size: 0.8rem;
            color: #eee;
        }
        .wrapper-inner{
            color: #fff;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding-left: 0;
            .name{
                width: 45%;
                margin: 0 auto;
            }
            .desc{
                padding-top: 1em;
            }
        }
    }
    .info{
        padding: 15px 30px;
        padding-bottom: 150px;
        .control{
            padding: 1em;
            text-align: center;
            .title{
                color: rgba(#1D1D26,.5);
                font-size: 0.8rem;
            }
            .desc{
                color: #333;
            }
        }
    }
}




.skill{
    background-color: #eee;
    .wrapper{
        position: relative;
        color: #fff;
        >img{
            width: 100%;
        }
        @at-root .wrapper-inner{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 1rem;
            text-align: left;
            h1{
                margin: 0;
                line-height: 1;
                font-family: 'Galada', cursive;
                font-size: 5rem;
            }
            h2{
                font-size: 2rem;
                margin: 0 auto;

            }
        }
    }
    .content{
        padding-bottom: 3em;
        .skill-context{
            padding: 0 15px;
            font-size: 0.8rem;
            color: #999;
            text-indent: 2em;
        }
        .progress-bar{
            font-size: 3rem;
            margin: 3rem 0 2.2rem;;
            .tooltip{

                &:after{
                    margin: -.75em 0 0 0.4em

                }
            }
        }
    }
}

.hobby{
    .wrapper{
        color: #fff;
        position: relative;
    }
    .wrapper-inner{
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .hobby-item{
        margin: 1rem 0 ;
        position: relative;
        .hobby-bg{
            background-size: cover;
            background-position: center;
            img{
                width: 100%;
            }
        }
        .hobby-text{
            position: absolute;
            width: 100%;
            top: 0;
            line-height: 1.6;
            img{
                width: 75px;
                padding-bottom: 10px;
            }
        }

        &.t1{
            padding-top: 100px;
            .hobby-text{
                padding-left: 30%;
                padding-right: 15px;
                font-size: 12px;
                div{
                    text-indent: 2em;
                }
            }
        }
        &.t2{
            padding-top: 50px;
            .hobby-text{
                text-align: right;
                padding-right: 30%;
                padding-left: 15px;
                font-size: 12px;
                div{
                    text-indent: 2em;
                }
            }
        }
        &.t3{
            padding-top: 100px;
            .hobby-text{
                text-align: left;
                padding-right: 30%;
                padding-left: 15%;
                font-size: 12px;
                div{
                    text-indent: 2em;
                }
            }
        }
        &.t4{
            margin-bottom: 0;
            padding-top: 100px;
            .hobby-text{
                text-align: center;
                line-height: 1.6;
                font-size: 14px;
                div{
                    // text-indent: 2em;
                }
            }
        }
    }
}


.fadeUp{
    opacity: 0;
    transform: translateY(50%);
    transition: all 500ms ease;
    .animatein &{
        opacity: 1;
        transform: translateY(0%);
    }
}
.fadeDown{
    opacity: 0;
    transform: translateY(-50%);
    transition: all 500ms ease;
    .animatein &{
        opacity: 1;
        transform: translateY(0%);
    }
}
.fadeLeft{
    opacity: 0;
    transform: translateX(-50%);
    transition: all 500ms ease;
    .animatein &{
        opacity: 1;
        transform: translateX(0%);
    }
}
.fadeRight{
    opacity: 0;
    transform: translateX(50%);
    transition: all 500ms ease;
    .animatein &{
        opacity: 1;
        transform: translateX(0%);
    }
}
.overflowy{
    overflow-y: hidden;
}
